@use "assets/styles";
@use "@gear-js/ui/variables" as *;

#root {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  box-sizing: content-box;
  background-color: #2d59bf;
}

.Grid {
  overflow: hidden;
}

.Prototype {
  margin-top: 30px;
  align-items: left;
  height: 420px;
  display: grid;
  grid-column-start: 1;
  margin-left: 10px;
  width: 350px;
  margin-left: 17px;
}

.classesnavbar {
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: 300px;
  border: none;
}

.MainPage {
  flex: 1;
  display: flex;
}

body {
  background: $bgColor url(assets/images/bg.svg);
}
